<li class="nav-item">
    <a class="nav-link" href="{% url 'add_artist' %}">Dodaj Artystę</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'update_artist' %}">Edytuj Artystę</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'delete_artist' %}">Usuń Artystę</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'add_album' %}">Dodaj Album</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'delete_album' %}">Delete Album</a>
</li>